In [2]:
import pandas as pd
import numpy as np
from pathlib import Path
Prof_loss = []
total = 0
average_chg = 0
g_increase = 0
g_decrease = 0
data_f = []
## This is a test

In [3]:
f = Path("budget_data.csv")

In [4]:
data_f = pd.read_csv(f)

In [5]:
data_f

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [6]:
total = data_f['Date'].count()

In [7]:
Prof_loss = data_f['Profit/Losses'].sum()   ## reads the Prof/loss column into memory and assigns the value

In [8]:
data_f['Change'] = data_f['Profit/Losses'].diff()

In [9]:
average_chg = round(data_f['Change'].mean(),2)

In [10]:
max_incr= data_f['Change'].max()

In [11]:
incr_date = data_f.loc[data_f["Change"] == max_incr]

In [12]:
min_incr = data_f['Change'].min()
decr_date = data_f.loc[data_f["Change"] == min_incr ]

In [13]:
print("Financial Analysis\n", "------------------")
print("Total Months: ", total)
print("Total profit/losses: $ ", Prof_loss)   
print("Average Change over the period was: $",average_chg)
print("The Greatest increase in Profits occurred in ",incr_date ['Date'].values[0]," with a value of  $",max_incr)
print("The Greatest decrease in Profits occurred in ",decr_date ['Date'].values[0]," with a value of  $",min_incr)

Financial Analysis
 ------------------
Total Months:  86
Total profit/losses: $  38382578
Average Change over the period was: $ -2315.12
The Greatest increase in Profits occurred in  Feb-2012  with a value of  $ 1926159.0
The Greatest decrease in Profits occurred in  Sep-2013  with a value of  $ -2196167.0

In [14]:
report = f"""
Financial Analysis
------------------
Total Months: {total}
Total profit/losses: ${Prof_loss}
Average Change over the period was: ${average_chg}
The Greatest increase in Profits occurred in {incr_date ['Date'].values[0]} with a value of  ${max_incr}
The Greatest decrease in Profits occurred in {decr_date ['Date'].values[0]} with a value of  ${min_incr}
"""
print(report)

Financial Analysis
------------------
Total Months: 86
Total profit/losses: $38382578
Average Change over the period was: $-2315.12
The Greatest increase in Profits occurred in Feb-2012 with a value of  $1926159.0
The Greatest decrease in Profits occurred in Sep-2013 with a value of  $-2196167.0

In [15]:
with open('output.txt', 'w') as f:
    f.write(report)