In [2]:
import pandas as pd
import numpy as np
from pathlib import Path

In [3]:
menu_file = Path("menu_data.csv")
sales_file = Path("sales_data.csv")
menu = []
sales = []

In [4]:
menu = pd.read_csv(menu_file)
sales = pd.read_csv(sales_file)

In [15]:
menu_df=pd.DataFrame(menu)
sales_df= pd.DataFrame(sales)

In [17]:
sales_df

,Line_Item_ID,Date,Credit_Card_Number,Quantity,Menu_Item
0,1,01-01-2017,7437926611570799,1,spicy miso ramen
1,2,01-01-2017,7437926611570799,1,spicy miso ramen
2,3,01-01-2017,8421920068932819,3,tori paitan ramen
3,4,01-01-2017,8421920068932819,3,tori paitan ramen
4,5,01-01-2017,4787310681569648,1,truffle butter ramen
...,...,...,...,...,...
74119,74120,12-31-2018,1697055332228941,4,tonkotsu ramen
74120,74121,12-31-2018,6800009643487106,1,vegetarian spicy miso
74121,74122,12-31-2018,6800009643487106,1,vegetarian spicy miso
74122,74123,12-31-2018,5981057609583653,2,spicy miso ramen
74123,74124,12-31-2018,5981057609583653,2,spicy miso ramen

In [5]:
report = dict ({'sales_item' : { 
    "01-count ": 0,
    "02-revenue ": 0,
    "03-cogs ": 0,
    "04-profit ": 0
}})

In [6]:
report

{'sales_item': {'01-count ': 0,
  '02-revenue ': 0,
  '03-cogs ': 0,
  '04-profit ': 0}}

In [39]:
quantity_item_df= sales_df[["Quantity", "Menu_Item"]]

In [41]:
quantity_item_df

       Quantity              Menu_Item
0             1       spicy miso ramen
1             1       spicy miso ramen
2             3      tori paitan ramen
3             3      tori paitan ramen
4             1   truffle butter ramen
...         ...                    ...
74119         4         tonkotsu ramen
74120         1  vegetarian spicy miso
74121         1  vegetarian spicy miso
74122         2       spicy miso ramen
74123         2       spicy miso ramen

[74124 rows x 2 columns]

In [44]:
for i in range(1,len(quantity_item_df)):
    if quantity_item_df.loc[["Menu_Item"], i] == quantity_item_df.loc[["Menu_Item"],i-1]:

KeyError: 1

()